body {
min-width: 850px;
min-height: 530px;
}

.whole_container {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background: #00a0d6;
background: -moz-linear-gradient(top, #00a0d6 0%, #18324f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0d6), color-stop(100%,#18324f));
background: -webkit-linear-gradient(top, #00a0d6 0%,#18324f 100%);
background: -o-linear-gradient(top, #00a0d6 0%,#18324f 100%);
background: -ms-linear-gradient(top, #00a0d6 0%,#18324f 100%);
background: linear-gradient(to bottom, #00a0d6 0%,#18324f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0d6', endColorstr='#18324f',GradientType=0 );
overflow: hidden;
min-width: 1024px;
}

#left_container {
position: absolute;
top: 0px;
left: 0px;
width: 50%;
height: 100%;
z-index: 0;
padding: 20px;
}

.left_h1 {
color: white;
font-family: arial;
font-weight: bold;
font-size: 4vh;
margin-top: 2vh;
}

.left_h2 {
color: white;
font-family: arial;
font-size: 2.8vh;
border-bottom-style: solid;
border-width: 1px;
width: 63%;
}

.left_h3 {
color: rgb(228, 228, 228);
font-family: arial;
font-size: 2.6vh;
margin-top: 4vh;
width: 52%;
position: relative;
float: left;
clear: left;
}

#right_container {
position: absolute;
top: 0px;
right: 0px;
width: 50%;
height: 100%;
z-index: 0px;
}

.right_h1 {
position: relative;
float: right;
color: rgb(219, 218, 218);
font-family: arial;
font-weight: bold;
font-size: 3vh;
margin-top: 42vh;
padding-right: 3vh;
}

.right_h2 {
position: relative;
float: right;
color: rgb(207, 207, 207);;
font-family: arial;
font-weight: bold;
font-size: 2.6vh;
margin-top: 2vh;
padding-right: 3vh;
clear: right;
}

.step_line {
position: absolute;
top: 50%;
right: 31vh;
width: calc(37vw - 31vh);
height: 0px;
background-color: transparent;
border-top-style: dashed;
border-top-width: 3px;
border-color: rgb(218,218,218);
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
z-index: 2;
}

.step_line_highlight {
background-color: rgb(218,218,218);
}

#main_container {
position: absolute;
top: 5vh;
left: calc(50% - 45vh);
width: 90vh;
height: 90vh;
background: rgba(0,0,0,0.25);
border-radius: 100vh;
box-shadow: 0 0 5vh rgba(51,176,240,0.5);
z-index: 1;
}

.start_container {
position: absolute;
top: calc(50% - 20vh);
left: calc(50% - 20vh);
width: 40vh;
height: 40vh;
background: rgb(51,176,240);
border-radius: 50vh;
box-shadow: 0 3px 20px rgb(22, 22, 22);
/* border-style: solid; */
/* border-width: 6px; */
/* border-color: white; */
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
z-index: 1;
border-style: solid;
border-width: 1px;
border-color: white;
}

.start_container_hover {
cursor: pointer;
box-shadow: 0 2px 40px rgb(51, 176, 240);
-webkit-transform: scale(1.08);
-moz-transform: scale(1.08);
-o-transform: scale(1.08);
-ms-transform: scale(1.08);
transform: scale(1.08);
}

.additional_shadow {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border-width: 100%;
border-radius: 100%;
background-color: transparent;
box-shadow: inset 0 6px 37px rgb(15, 15, 15)
}

.power_ring {
position: absolute;
top: calc(50% - 16.58vh);
left: calc(50% - 16.5vh);
width: 33vh;
height: 33vh;
background: transparent;
border-radius: 40vh;
border-style: solid;
border-width: 1vh;
border-color: rgb(184, 231, 255);
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.power_dot {
position: absolute;
top: 0.5vh;
left: calc(50% - 1.5vh);
width: 3vh;
height: 7vh;
background-color: rgb(184, 231, 255);
border-style: solid;
border-width: 1vh;
border-color: rgb(51,176,240);
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.start_text {
position: absolute;
top: 32%;
left: 15%;
width: 70%;
height: 40%;
text-align: center;
font-family: arial;
font-weight: bold;
font-size: 3.4vh;
color: rgb(12, 62, 95);
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.start_container:hover .power_ring {
border-color: white;
}

.start_container:hover .power_dot {
background-color: white;
}

.start_container:hover .start_text {
color: white;
}

.c_web_container {
left: calc(50% - 6vh);
top: calc(50% - 40vh);
position: absolute;
height: 40vh;
background-color: transparent;
-ms-transform-origin: 50% 100%;
-webkit-transform-origin: 50% 100%;
transform-origin: 50% 100%;
}
.angle_1 {
-webkit-transform:rotate(-318deg);
-moz-transform:rotate(-318deg);
-o-transform:rotate(-318deg);
-ms-transform:rotate(-318deg);
transform:rotate(-318deg);
opacity: 1;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_2 {
-webkit-transform:rotate(-342deg);
-moz-transform:rotate(-342deg);
-o-transform:rotate(-342deg);
-ms-transform:rotate(-342deg);
transform:rotate(-342deg);
opacity: 1;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_3 {
-webkit-transform:rotate(-6deg);
-moz-transform:rotate(-6deg);
-o-transform:rotate(-6deg);
-ms-transform:rotate(-6deg);
transform:rotate(-6deg);
opacity: 1;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_4 {
-webkit-transform:rotate(-30deg);
-moz-transform:rotate(-30deg);
-o-transform:rotate(-30deg);
-ms-transform:rotate(-30deg);
transform:rotate(-30deg);
opacity: 0.95;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_5 {
-webkit-transform:rotate(-54deg);
-moz-transform:rotate(-54deg);
-o-transform:rotate(-54deg);
-ms-transform:rotate(-54deg);
transform:rotate(-54deg);
opacity: 0.9;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_6 {
-webkit-transform:rotate(-78deg);
-moz-transform:rotate(-78deg);
-o-transform:rotate(-78deg);
-ms-transform:rotate(-78deg);
transform:rotate(-78deg);
opacity: 0.85;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_7 {
-webkit-transform:rotate(-102deg);
-moz-transform:rotate(-102deg);
-o-transform:rotate(-102deg);
-ms-transform:rotate(-102deg);
transform:rotate(-102deg);
opacity: 0.8;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_8 {
-webkit-transform:rotate(-126deg);
-moz-transform:rotate(-126deg);
-o-transform:rotate(-126deg);
-ms-transform:rotate(-126deg);
transform:rotate(-126deg);
opacity: 0.75;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_9 {
-webkit-transform:rotate(-150deg);
-moz-transform:rotate(-150deg);
-o-transform:rotate(-150deg);
-ms-transform:rotate(-150deg);
transform:rotate(-150deg);
opacity: 0.7;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_10 {
-webkit-transform:rotate(-174deg);
-moz-transform:rotate(-174deg);
-o-transform:rotate(-174deg);
-ms-transform:rotate(-174deg);
transform:rotate(-174deg);
opacity: 0.65;
top: calc(50% - 40vh);
height: 40vh;
width: 12vh;
}
.angle_11 {
-webkit-transform:rotate(-198deg);
-moz-transform:rotate(-198deg);
-o-transform:rotate(-198deg);
-ms-transform:rotate(-198deg);
transform:rotate(-198deg);
opacity: 0.6;
top: calc(50% - 39vh);
height: 39vh;
width: 11.5vh;
}
.angle_12 {
-webkit-transform:rotate(-222deg);
-moz-transform:rotate(-222deg);
-o-transform:rotate(-222deg);
-ms-transform:rotate(-222deg);
transform:rotate(-222deg);
opacity: 0.55;
top: calc(50% - 37vh);
height: 37vh;
width: 11vh;
}
.angle_13 {
-webkit-transform:rotate(-246deg);
-moz-transform:rotate(-246deg);
-o-transform:rotate(-246deg);
-ms-transform:rotate(-246deg);
transform:rotate(-246deg);
opacity: 0.45;
top: calc(50% - 34vh);
height: 34vh;
width: 10vh;
}
.angle_14 {
-webkit-transform:rotate(-270deg);
-moz-transform:rotate(-270deg);
-o-transform:rotate(-270deg);
-ms-transform:rotate(-270deg);
transform:rotate(-270deg);
opacity: 0.4;
top: calc(50% - 31vh);
height: 31vh;
width: 9vh;
}
.angle_15 {
-webkit-transform:rotate(-294deg);
-moz-transform:rotate(-294deg);
-o-transform:rotate(-294deg);
-ms-transform:rotate(-294deg);
transform:rotate(-294deg);
opacity: 0.3;
top: calc(50% - 28vh);
height: 28vh;
width: 8vh;
}
.angle_16 {
-webkit-transform:rotate(-318deg);
-moz-transform:rotate(-318deg);
-o-transform:rotate(-318deg);
-ms-transform:rotate(-318deg);
transform:rotate(-318deg);
opacity: 0.2;
top: calc(50% - 25vh);
height: 25vh;
width: 7vh;
}
.angle_17 {
-webkit-transform:rotate(-342deg);
-moz-transform:rotate(-342deg);
-o-transform:rotate(-342deg);
-ms-transform:rotate(-342deg);
transform:rotate(-342deg);
opacity: 0.1;
top: calc(50% - 22vh);
height: 22vh;
width: 6vh;
}
.angle_18 {
-webkit-transform:rotate(-6deg);
-moz-transform:rotate(-6deg);
-o-transform:rotate(-6deg);
-ms-transform:rotate(-6deg);
transform:rotate(-6deg);
opacity: 0.05;
top: calc(50% - 20vh);
height: 20vh;
width: 5vh;
}


.web_card {
position: absolute;
top: 0vh;
left: 0px;
background-color: rgb(219, 219, 219);
border-radius: 50%;
border-style: solid;
border-width: 5px;
border-color: rgb(238, 238, 238);
box-shadow: 0 1px 10px 1px rgb(0, 0, 0);
-webkit-transition: 0.4s ease-in-out;
-moz-transition: 0.4s ease-in-out;
-o-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
overflow: hidden;
}

.card_1 {
width: 12vh;
height: 12vh;
-webkit-transform:rotate(318deg);
-moz-transform:rotate(318deg);
-o-transform:rotate(318deg);
-ms-transform:rotate(318deg);
transform:rotate(318deg);
}
.card_2 {
width: 12vh;
height: 12vh;
-webkit-transform:rotate(342deg);
-moz-transform:rotate(342deg);
-o-transform:rotate(342deg);
-ms-transform:rotate(342deg);
transform:rotate(342deg);
}
.card_3 {
width: 12vh;
height: 12vh;
}
.card_4 {
width: 12vh;
height: 12vh;
}
.card_5 {
width: 12vh;
height: 12vh;
}
.card_6 {
width: 12vh;
height: 12vh;
}
.card_7 {
width: 12vh;
height: 12vh;
}
.card_8 {
width: 12vh;
height: 12vh;
}
.card_9 {
width: 12vh;
height: 12vh;
}
.card_10 {
width: 11.8vh;
height: 11.8vh;
}
.card_11 {
width: 11.5vh;
height: 11.5vh;
}
.card_12 {
width: 11vh;
height: 11vh;
}
.card_13 {
width: 10vh;
height: 10vh;
}
.card_14 {
width: 9vh;
height: 9vh;
}
.card_15 {
width: 8vh;
height: 8vh;
}
.card_16 {
width: 7vh;
height: 7vh;
}
.card_17 {
width: 6vh;
height: 6vh;
}
.card_18 {
width: 5vh;
height: 5vh;
}

.web_card:hover {
cursor: pointer;
-webkit-transform: scale(1.15) translateY(-2.5vh);
-moz-transform: scale(1.15) translateY(-2.5vh);
-o-transform: scale(1.15) translateY(-2.5vh);
-ms-transform: scale(1.15) translateY(-2.5vh);
transform: scale(1.15) translateY(-2.5vh);
}

.full {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.h3_thumb {
position: absolute;
float: left;
top: -3px;
left: 0px;
height: 3vh;
width: 3vh;
}

.h3_text {
position: relative;
top: -3px;
float: left;
padding-left: 4vh;
font-family: arial;
font-size: 2.5vh;
}

.h2_step {
position: absolute;
float: left;
top: 2px;
left: 0px;
height: 3vh;
width: 3vh;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.h2_step_highlight {
position: absolute;
float: left;
top: calc(-0.3vh + 2px);
left: -0.3vh;
height: 3.6vh;
width: 3.6vh;
}

.h2_text {
position: relative;
top: 0px;
float: left;
padding-left: 4vh;
font-family: arial;
font-size: 2.5vh;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.h2_text_highlight {
color: white;
cursor: pointer;
}

.Relevant_app_container {
position: absolute;
bottom: 6vh;
right: 0px;
height: 12vh;
width: 60vh;
}

.Relevant_app_title {
position: absolute;
top: 0px;
right: 0px;
padding-right: 3vh;
font-family: arial;
font-weight: bold;
font-size: 2.3vh;
color: rgb(219, 218, 218);
}

.app_unit {
position: relative;
top: 4vh;
right: 2vh;
float: right;
width: 8vh;
height: 11.1vh;
margin: 1vh;
background-color: transparent;
}

.app_icon {
position: absolute;
top: 0px;
left: 0px;
width: 8vh;
height: 8vh;
border-radius: 2vh;
overflow: hidden;
box-shadow: 0 0 1vh 1px white;
-webkit-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-o-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.app_icon:hover {
cursor: pointer;
}

.app_name {
position: absolute;
bottom: 0px;
left: 0px;
width: 8vh;
text-align: center;
font-family: arial;
font-size: 1.7vh;
color: rgb(201, 201, 201);
}

.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
